.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    gap: 30px;
    align-content: center;
    flex-wrap: wrap; }

  .gallery__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 20px; }

.gallery__img{
    width: 200px;
  height: 300px;
  display: block;
  background-color: #f0d8f5;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;
  transition: transform 0.3s ease-in-out;
}

.gallery__img:hover {
    filter: opacity(0.9);
    transform: scale(1.04); }


.gallery__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}