@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

.contador {
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    padding-left: 250px;
    position: relative;
    top: -100px;
    font-family: 'Josefin Sans', sans-serif;
    gap: 10px;
}

.boton {
    text-decoration: none;
    background-color: #f0d8f5;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 80px;
    font-family: 'Josefin Sans', sans-serif;
  }